:root {
    --c-brand: #fac562;
    --c-dark: #333;
    --c-body: #666;
    --n-height: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    color: var(--c-body);
    line-height: 1.2;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--c-dark);
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}
.heading-xl {
    font-size: clamp(44px, 10vw, 100px);
    
}
.heading-1 {
    font-size: clamp(32px, 6vw, 54px);
}
.heading-2 {
    font-size: clamp(28px, 4vw, 36px);
}
.heading-3 {
    font-size: 20px;
}
a {
    color: var(--c-dark);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
a:hover {
    color: var(--c-brand);
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
section {
    padding: 140px 0;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}
.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--c-brand);
    padding: 16px 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
}
.btn:hover {
    background-color: var(--c-brand);
    color: white;
}
.navbar {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--n-height);
    display: flex;
    z-index: 999;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand {
    color: white;
    font-size: 28px;
}
.nav-links {
    display: flex;
    
}
.nav-links li {
    margin-right: 44px;
}
.nav-links li.active a {
    box-shadow: 0 2px var(--c-brand);
}
.nav-links li a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-links li a:hover {
    color: var(--c-brand);
}
.hamburger {
    display: block;
    cursor: pointer;
    display: none;
}
.hamburger span {
    display: block;
    width: 34px;
    height: 2px;
    background-color: white;
    margin: 8px auto;
    transition: all 0.4s ease;
}
.hamburger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}
.scrolled {
    background-color: white;
}
.scrolled .brand {
    color: var(--c-dark);
}
.scrolled .nav-links li a {
    color: var(--c-dark);
}
.scrolled .nav-links li a:hover {
    color: var(--c-brand);
}
.scrolled .hamburger span {
    background-color: var(--c-dark);
}
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: var(--n-height);
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0px 24px;
        transition: all 0.3s ease-in-out;
        height: 0;
        overflow: hidden;
        justify-content: center;
    }
    .nav-links.active {
        height: 170px;
    }
    .nav-links li {
        
        padding: 6px 0;
    }
    
    .hamburger {
        display: block;
    }
}

/* hero */

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/free-video-3140468.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
}
.hero h1 {
    color: white;
}